#size-section, #sauce-section, #cheese-section, #topping-section, #output {
  display: none;
}

* {
  text-align: center;
}

input {
  width: 500px;
}

.jumbotron {
  background-color: #7ec9f2;
}

#size-section {
  background-color: #7dbd7f;
  padding-bottom: 50px;
}

#size-section h2, #sauce-section h2, #cheese-section h2, #topping-section h2{
  padding-bottom: 50px;
}

#sauce-section {
  background-color: #c43030;
  padding-bottom: 50px;
}
#cheese-section {
  background-color: #e8b450;
  padding-bottom: 50px;
}
#topping-section {
  background-color: #caaafc;
  padding-bottom: 50px;
}

#topping-section .row {
  padding-bottom: 30px;
}

#topping-rows {
  border-bottom: 1px solid black;
  margin-bottom: 50px;
}

#output {
  font-size: 18pt;
  background-color: #96ad79;
}
